<html>
    <head>
        <title>Admin Dashboard</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'admin.css' %}">

<div class="container">
    <h1 style="text-align: center; font-size: 30px;">
    Admin Dashboard
    </h1>
    

    <!-- SELECT COURSE -->
    <h3>Select Course</h3>
    <select id="courseSelect">
        <option value="Computer Science">Computer Science</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Statistics">Statistics</option>
        <option value="Business Studies">Business Studies</option>
        <option value="Malayalam">Malayalam</option>
    </select>

    <br><br>

    <!-- SEATS -->
    <h3>Enter Seats</h3>
    <input type="number" id="seatInput" placeholder="Enter total seats">

    <br><br>

    <!-- ACTION -->
    <button onclick="setCourseAndSeats()">Save Config</button>
    <button onclick="allocateStudents()">Allocate Students</button>

    <p id="msg"></p>

    <hr>

    <!-- RESULT -->
    <div id="allocationResult"></div>

    <script src="{% static 'script.js' %}"></script>
</div>
