<html>
<head>
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin.css' %}">
</head>

<body>

<div class="container">

    <h1>Admin Dashboard</h1>

    <hr>

    <!-- SYSTEM CONTROL -->
    <h2>System Control</h2>

    <button onclick="setPhase('open')">Open</button>
    <button onclick="setPhase('allocate')">Allocate</button>
    <button onclick="setPhase('freeze')">Freeze</button>

    <p id="phaseMsg"></p>

    <hr>

    <!-- CONFIG -->
    <h3>Course</h3>
    <select id="courseSelect">
        <option>Computer Science</option>
        <option>Mathematics</option>
        <option>Statistics</option>
        <option>Business Studies</option>
        <option>Malayalam</option>
    </select>

    <h3>Seats</h3>
    <input type="number" id="seatInput">

    <br><br>

    <button onclick="setCourseAndSeats()">Save Config</button>
    <button onclick="allocateStudents()">Allocate</button>

    <p id="msg"></p>

    <hr>

    <!-- ALLOCATION -->
    <h3>Allocated Students</h3>
    <div id="allocationResult"></div>

    <hr>

    <!-- PENDING -->
    <h2>Pending Pool</h2>

    <button onclick="loadPending()">Load Pending</button>

    <div id="pendingBox"></div>

</div>

<script src="{% static 'script.js' %}"></script>

</body>
</html>